#!/bin/bash

# Person-specific chromosome assignment
CHROM_LIST=(chr1 chr14 chr21)

# Project settings  
PROJECT_CODE="CBBI1039"

CONFIG_TXT="/mnt/lustre/groups/CBBI1039/PREDICTMIX_DATA/config.txt"
CONDA_ACTIVATE="/apps/user/CBBI0818/venv.python2_7/miniconda312_25/bin/activate"
BAM_LIST="/mnt/lustre/groups/CBBI1039/PREDICTMIX_DATA/NGS/BAM/HCC_BAM.txt"

# Chunking / calling
CHUNK_SIZE=10000000
MAX_DEPTH=1000

# Internal parallelism
NODE_CPUS=24
PARALLEL_CHROMS=3
THREADS_PER_CHROM=8

# PBS queues
SETUP_QUEUE="serial"
SETUP_WALLTIME="01:00:00"
SETUP_MEM="4gb"

CHUNK_QUEUE="smp"
CHUNK_WALLTIME="96:00:00"
CHUNK_MEM="120gb"

MERGE_QUEUE="seriallong"
MERGE_WALLTIME="24:00:00"
MERGE_MEM="32gb"
MERGE_CPUS=8

PROGRESS_QUEUE="serial"
PROGRESS_WALLTIME="00:30:00"
PROGRESS_MEM="4gb"